How do you comment code in Python? What are the different types of comments?
ans:-
In Python, we can comment your code using the `#` symbol. This is called an inline comment and is used to explain a single line of code. 

we can also use triple quotes (`"""` or `'''`) to create a multiple line comment.

In [ ]:
#this is a inline comment or single line comment
"""
this is multiple line comment
"""

Q2. What are variables in Python? How do you declare and assign values to variables?

ans:-a variable is a named location used to store data in memory. It is helpful to think of variables as containers that hold information. we can declare and assign values to variables using the = operator.

example:
x=10
y="hello"
z=10.9
x=3+4j

In [11]:
x=10
y="hello"
z=10.9
x=3+4j

Q3.How do you convert one data type to another in Python?
ans:-
we can convert one data type to another using built in functions such as int(),float()and Str()
ex:-

In [14]:
a=5
print(type(a))
print(type(str(a)))
print(type(float(a)))

<class 'int'>
<class 'str'>
<class 'float'>

Q4.How do you write and execute a Python script from the command line?
ans:-
To execute the script from the command line, we need to have Python installed on our computer. we can then navigate to the directory where our script is located using the cd command and run the script using the python command followed by the name of our script. For example:
cd/path/to/script python myscript.py

Q5.Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
#ans:-
a=[1,2,3,4,5]
print(a[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?
ans:-
Complex Numbers are the numbers of the form (a + i b) where a & b are the real numbers and i is an imaginary unit called iota that represents âˆš-1.

in python it is represented as:
a+bj
ex=5+7j

In [12]:
ex=5+7j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [13]:
#ans:-
age=25

Q8.Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?
it has float data type

In [6]:
#ans:-
price=9.99
type(price)

float

Q9.Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
# ans:-
name="Jatin Jivnani"
print(name)

Jatin Jivnani

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
#ans:-
a="Hello, World!"
print(a[6:12])

 World

Q11.Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student=True
print(is_student)

True